.window
    box-shadow: 0 8px 48px rgba(0,0,0,.15)
    will-change: top, left, bottom, right, width, height, transform, border-radius

.icon
    user-select: none
    -webkit-user-drag: none

.drag-horizontal
    cursor: ew-resize

.drag-vertical
    cursor: ns-resize

.drag-left-slash
    cursor: nwse-resize

.drag-right-slash
    cursor: nesw-resize