.vibrance
    background-color: rgba(255,255,255,.8)
    backdrop-filter: blur(16px)
    -webkit-backdrop-filter: blur(16px)

.icon
    stroke-width: 1.25
    transform: scale(.8)

    &.-mirror
        transform: scale(.8) scaleX(-1)
