@use 'fonts'

html, body, #root
    @apply fixed w-full h-screen overflow-hidden
    font-family: 'Segoe UI Variable'
    overscroll-behavior: contain

a, button, input
    -webkit-tap-highlight-color: rgba(0,0,0,0)

#wallpaper-blurhash
    @apply fixed w-full h-screen transform scale-x-100
    z-index: -1
    filter: blur(36px)